article {
  border: 1px solid #e9e9e9;
}

article.grid-left-image {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    'image audio audio preview'
    'image title title title'
    'image description description description'
    'image author-image author-name bookmark'
    'image author-image footer footer';
  grid-template-columns: 220px 50px auto 50px;
  grid-template-rows: minmax(0, auto) minmax(25px, auto) minmax(170px, auto) 
    minmax(15px, auto) minmax(15px, auto);
  padding: 1px;
}
article.grid-left-image .image { grid-area: image; }
article.grid-left-image .audio { grid-area: audio; }
article.grid-left-image .preview { grid-area: preview; }
article.grid-left-image .title { grid-area: title; }
article.grid-left-image .description { grid-area: description; }
article.grid-left-image .bookmark { grid-area: bookmark; }
article.grid-left-image .footer { grid-area: footer; }
article.grid-left-image .author-image {grid-area: author-image; }
article.grid-left-image .author-name {grid-area: author-name; }

article.grid-top-image {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    'image image image'
    'preview preview audio'
    'title title title'
    'description description description'
    'author-image author-name bookmark'
    'author-image footer footer';
  grid-template-columns: 70px auto 50px;
  grid-template-rows: 
    200px minmax(0, auto) minmax(50px, auto) 
    minmax(50px, auto) 25px 25px;
  padding: 1px;
}
article.grid-top-image .image { grid-area: image; }
article.grid-top-image .audio { grid-area: audio; }
article.grid-top-image .preview { 
  grid-area: preview; 
  padding-left: 20px;
}
article.grid-top-image .title { 
  grid-area: title; 
  padding-left: 20px;
}
article.grid-top-image .description { 
  grid-area: description; 
  padding-left: 20px;
}
article.grid-top-image .bookmark { grid-area: bookmark; }
article.grid-top-image .footer { grid-area: footer; }
article.grid-top-image .author-image {
  grid-area: author-image; 
  padding-left: 20px;
}
article.grid-top-image .author-name {grid-area: author-name; }

article .image 
{ 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

article .title {
  font-size: 18px;
}

article .description {
  color: #8c8c8c;
  font-size: 16px;
}

article .footer,
article .options {
  color: #8c8c8c;
  font-size: 14px;
}

article .footer .spacer {
  padding: 0px 4px;
}

.author-image img {
  border-radius: 50%;
  height: 53px;
  padding: 4px;
  width: 53px;
}

.author-is-member img {
  border-bottom: 2px solid #069696;
  border-top: 2px solid #069696;
}

.author-name {
  font-size: 14px;
}

.glyphicon.bookmarked {
  color: #005500;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}